@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html {
        z-index: 0;
        position: relative;
    }

    body {
        z-index: 1;
        position: relative;
    }

    main {
        z-index: 2;
    }

    footer {
        z-index: 2;
    }

    header {
        z-index: 3;
    }

    .header__main {
        position: relative;
        z-index: 4;
    }


    .menu {
        position: absolute;
        right: 0px;
        top: 20px;
    }

    .menu.active {
        z-index: 6;
    }

    .header__menu-display {
        margin: 0 0 0 0;
        z-index: 5;
        position: relative;
    }

    .header__nav-up {
        top: 0px;
    }

    button.nav-tgl {
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width: 1024px) and (-ms-high-contrast: none) {

    .header__main,
    .header__main__logo {
        display: none;
    }

    .situation__card__img {
        width: auto;
    }

    .footer {
        display: run-in;
    }
}

@media screen and (max-width: 1024px) and (-ms-high-contrast: active) {

    .header__main,
    .header__main__logo {
        display: none;
    }

    .situation__card__img {
        width: auto;
    }

    .footer {
        display: run-in;
    }
}
