*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0.13rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  padding: 0;
}

.header {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 3px 8px #dddddd;
  z-index: 1;
  position: relative;
}

.header__main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 30px;
}

.header__main__logo {
  margin-right: 25px;
}

.header__main__logo:hover {
  cursor: pointer;
}

.header__main__switcher {
  padding-left: 20px;
  padding-right: 20px;
}

.header__main__switcher-border {
  border-right: 1px solid #a7b1b7;
}

.header__main__switcher-deactivate {
  color: #606474;
  margin-bottom: 3px;
}

.header__menu {
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.header__menu__text {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header__menu__button {
  background-color: #76BD01;
  padding: 15px 35px;
  color: white;
  border-radius: 5px;
  font-size: initial;
  text-decoration: none;
  margin-left: 15px;
}

.header__menu__button:hover {
  cursor: pointer;
}

.header__menu__button:hover {
  background-color: #76BD01;
}

.aboutUs {
  background-image: url("../images/illustrations/main.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 65px;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__content {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.aboutUs__content__header {
  padding-bottom: 15px;
  color: black;
}

.aboutUs__content__subscription {
  padding-bottom: 60px;
  color: #606474;
  line-height: 25px;
  font-size: 1.5rem;
}

.aboutUs__content__button {
  background-color: #76BD01;
  padding: 15px 35px;
  color: white;
  border-radius: 5px;
  font-size: initial;
  text-decoration: none;
}

.aboutUs__content__button:hover {
  cursor: pointer;
}

.aboutUs__content__button:focus {
  background-color: #76BD01;
}

.situation {
  background: linear-gradient(0deg, #f3f3f3 0%, white 100%);
}

.situation__header {
  margin-top: 60px;
  text-align: center;
}

.situation__nav {
  margin: 45px auto 0;
  width: 800px;
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.situation__nav__swipe {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 1.4rem;
  color: #606474;
}

.situation__nav__swipe:hover {
  cursor: pointer;
}

.situation__nav__swipe-active {
  border-bottom: 3px solid #7cba30;
}

.situation__card {
  width: 800px;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto 0;
  padding-bottom: 70px;
}

.situation__card__img {
  height: 120px;
  width: 120px;
}

.situation__card__text {
  padding-left: 60px;
}

.situation__card__text__header {
  line-height: 2.5rem;
}

.situation__card__text__tags {
  margin-top: 20px;
  list-style-type: none;
}

.situation__card__text__tags-item {
  display: inline;
  margin-right: 20px;
  font-size: 12px;
  color: #606474;
}

.situation__hide {
  display: none;
}

.howDoWeWork {
  margin-bottom: 60px;
}

.howDoWeWork__header {
  margin-top: 60px;
  text-align: center;
}

.howDoWeWork__section {
  width: 900px;
  margin: 60px auto 0 auto;
  display: -ms-flexbox;
  display: flex;
}

.howDoWeWork__section__text-right {
  margin-left: 40px;
}

.howDoWeWork__section__text-left {
  margin-right: 40px;
}

.howDoWeWork__section__text__header {
  padding-bottom: 10px;
}

.howDoWeWork__section__text__subscription {
  line-height: 18px;
  color: #606474;
}

.specialist__card {
  margin: 70px;
  text-align: center;
}

.specialist__card__img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-bottom: 30px;
}

.specialist__card__position {
  margin-bottom: 10px;
  color: #606474;
}

.specialist__card__name {
  margin-bottom: 20px;
}

.specialist__card__description {
  margin-bottom: 10px;
  color: #606474;
}

.specialist__pagination {
  position: relative !important;
  margin-top: 40px;
  margin-bottom: 20px;
}

.blog {
  width: 1000px;
  margin: 0 auto 60px auto;
}

.blog__navigation {
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.blog__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.blog__container__section {
  display: -ms-flexbox;
  display: flex;
}

.blog__container__section__text {
  margin-left: 20px;
  margin-right: 20px;
}

.blog__container__section__text__header {
  margin-bottom: 15px;
}

.blog__container__section__text__description {
  color: #606474;
}

.trustUs {
  background-color: #f6f5f5;
  padding-bottom: 60px;
}

.trustUs__header {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 60px;
}

.trustUs__container {
  width: 1000px;
  margin: 0 auto;
}

.trustUs__container__img {
  height: 70px;
  margin-right: 30px;
}

.footer {
  width: 1000px;
  margin: 60px auto 40px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.footer__aside {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
}

.footer__aside__navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 20px;
}

.footer__aside__confidential {
  color: #606474;
  margin-bottom: 20px;
}

.footer__aside__confidential__name-link {
  margin-left: 10px;
}

.footer__socialNetwork__header {
  margin-bottom: 20px;
}

.footer__socialNetwork__header__text {
  color: #606474;
}

.footer__socialNetwork__icons {
  display: -ms-flexbox;
  display: flex;
}

.footer__socialNetwork__icons__facebook {
  background-image: url("../images/contacts/bAndW/facebook_BW.png");
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.footer__socialNetwork__icons__facebook:hover {
  background-image: url("../images/contacts/color/facebook_color.png");
  cursor: pointer;
}

.footer__socialNetwork__icons__VK {
  background-image: url("../images/contacts/bAndW/vk_BW.png");
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.footer__socialNetwork__icons__VK:hover {
  background-image: url("../images/contacts/color/vk_color.png");
  cursor: pointer;
}

.footer__socialNetwork__icons__instagram {
  background-image: url("../images/contacts/bAndW/instagram_BW.png");
  border-radius: 5px;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.footer__socialNetwork__icons__instagram:hover {
  background-image: url("../images/contacts/color/instagram_color.png");
  cursor: pointer;
}

.footer__payment__header {
  margin-bottom: 20px;
}

.footer__payment__header__text {
  color: #606474;
}

.footer__payment__icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.footer__payment__icons__yandexDengi {
  background-image: url("../images/payment/YandexMoney/yandex_dengi_product_icon_cmyk@3x.png");
  height: 32px;
  background-repeat: no-repeat;
  width: 25px;
  background-size: contain;
  margin-right: 10px;
}

.footer__payment__icons__yandexDengi:hover {
  cursor: pointer;
}

.footer__payment__icons__visa {
  background-image: url("../images/payment/Visa/visa@3x.png");
  height: 12px;
  background-repeat: no-repeat;
  width: 32px;
  background-size: contain;
  margin-right: 10px;
}

.footer__payment__icons__visa:hover {
  cursor: pointer;
}

.footer__payment__icons__masterCard {
  background-image: url("../images/payment/MasterCard/mastercard@3x.png");
  height: 20px;
  background-repeat: no-repeat;
  width: 32px;
  background-size: contain;
  margin-right: 10px;
}

.footer__payment__icons__masterCard:hover {
  cursor: pointer;
}
