*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.7rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  padding: 0;
}

.header {
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  color: black;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 3px 8px #dddddd;
  z-index: 1;
  position: relative;
}

.header__main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 30px;
}

.header__main__logo {
  margin-right: 25px;
}

.header__main__logo:hover {
  cursor: pointer;
}

.header__main__switcher {
  padding-left: 20px;
  padding-right: 20px;
}

.header__main__switcher-border {
  border-right: 1px solid #a7b1b7;
}

.header__main__switcher-deactivate {
  color: #606474;
  margin-bottom: 3px;
}

.header__menu {
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.header__menu__text {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header__menu__button {
  background-color: #76BD01;
  padding: 15px 35px;
  color: white;
  border-radius: 5px;
  font-size: initial;
  text-decoration: none;
  margin-left: 15px;
}

.header__menu__button:hover {
  cursor: pointer;
}

.header__menu__button:hover {
  background-color: #76BD01;
}

.aboutUs {
  background-image: url("../images/illustrations/main.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 90px;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__content {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.aboutUs__content__header {
  padding-bottom: 15px;
  color: black;
}

.aboutUs__content__subscription {
  padding-bottom: 60px;
  color: #606474;
  line-height: 25px;
  font-size: 1.5rem;
}

.aboutUs__content__button {
  background-color: #76BD01;
  padding: 15px 35px;
  color: white;
  border-radius: 5px;
  font-size: initial;
  text-decoration: none;
}

.aboutUs__content__button:hover {
  cursor: pointer;
}

.aboutUs__content__button:focus {
  background-color: #76BD01;
}

.situation {
  background: linear-gradient(0deg, #f3f3f3 0%, white 100%);
}

.situation__header {
  margin-top: 60px;
  text-align: center;
}

.situation__nav {
  margin: 45px auto 0;
  width: 800px;
  -ms-flex-direction: row;
      flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.situation__nav__swipe {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 1.4rem;
  color: #606474;
}

.situation__nav__swipe:hover {
  cursor: pointer;
}

.situation__nav__swipe-active {
  border-bottom: 3px solid #7cba30;
}

.situation__card {
  width: 800px;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto 0;
  padding-bottom: 70px;
}

.situation__card__img {
  height: 130px;
  width: 130px;
}

.situation__card__text {
  padding-left: 60px;
}

.situation__card__text__header {
  line-height: 2.5rem;
}

.situation__card__text__tags {
  margin-top: 20px;
  list-style-type: none;
}

.situation__card__text__tags-item {
  display: inline;
  margin-right: 20px;
  font-size: 12px;
  color: #606474;
}

.situation__hide {
  display: none;
}
