.aboutUs {
  background-image: url("../images/illustrations/main.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 150px;
  display: flex;
  height: 500px;

  &__content {
    margin: 0 auto;
    width: 500px;
    text-align: center;

    @media (max-width: 550px) {
      width: 300px;
    }

    &__header {
      padding-bottom: 15px;
      color: $font-main;

      @media (max-width: 550px) {
        padding-bottom: 45px;
      }
    }

    &__subscription {
      padding-bottom: 60px;
      color: $font-subscription;
      line-height: 25px;
      font-size: 1.5rem;
    }

    &__button {
      @include button;

      &:focus {
        background-color: $color-green-change;
      }
    }
  }
}