*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0.13rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

p {
  font-size: 1.5rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-light;
  padding: 0;
}