.blog {
  width: 1000px;
  margin: 0 auto 60px auto;

  @media (max-width: 1024px) {
    width: auto;
    margin: 0 auto 20px auto;
  }

  &__navigation {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;

    &__header {
      @media (max-width: 1024px) {
        display: block;
        margin: 0 auto;
      }
    }

    &__allArticles {
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &__section {
      display: flex;

      @media (max-width: 1024px) {
        flex-direction: column;
        margin-bottom: 60px;
      }

      &__img {
        @media (max-width: 1024px) {
          width: 300px;
          margin: 0 auto;
        }
      }

      &__text {
        margin-left: 20px;
        margin-right: 20px;

        @media (max-width: 1024px) {
          margin: 0 auto;
          width: 300px;
          text-align: center;
        }

        &__header {
          margin-bottom: 15px;

          @media (max-width: 1024px) {
            width: 300px;
            margin-top: 30px;
          }
        }

        &__description {
          color: $font-subscription;

          @media (max-width: 1024px) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}