.footer {
  width: 1000px;
  margin: 60px auto 40px auto;
  display: flex;
  justify-content: space-between;

  &__aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__navigation {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      &__text {

      }
    }

    &__confidential {
      color: $font-subscription;
      margin-bottom: 20px;

      &__name {

        &-link {
          margin-left: 10px;
        }
      }
    }

    &__developed {

      &__text {

      }
    }
  }

  &__socialNetwork {

    &__header {
      margin-bottom: 20px;

      &__text {
        color: $font-subscription;
      }
    }

    &__icons {
      display: flex;


      &__facebook {
        background-image: url("../images/contacts/bAndW/facebook_BW.png");
        border-radius: 5px;
        width: 32px;
        height: 32px;
        margin-right: 10px;

        &:hover {
          background-image: url("../images/contacts/color/facebook_color.png");
          cursor: pointer;

        }
      }

      &__VK {
        background-image: url("../images/contacts/bAndW/vk_BW.png");
        border-radius: 5px;
        width: 32px;
        height: 32px;
        margin-right: 10px;

        &:hover {
          background-image: url("../images/contacts/color/vk_color.png");
          cursor: pointer;
        }
      }

      &__instagram {
        background-image: url("../images/contacts/bAndW/instagram_BW.png");
        border-radius: 5px;
        width: 32px;
        height: 32px;
        margin-right: 10px;

        &:hover {
          background-image: url("../images/contacts/color/instagram_color.png");
          cursor: pointer;
        }
      }
    }
  }

  &__payment {

    &__header {
      margin-bottom: 20px;

      &__text {
        color: $font-subscription;
      }
    }

    &__icons {
      display: flex;
      align-items: center;

      &__yandexDengi {
        background-image: url("../images/payment/YandexMoney/yandex_dengi_product_icon_cmyk@3x.png");
        height: 32px;
        background-repeat: no-repeat;
        width: 25px;
        background-size: contain;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      &__visa {
        background-image: url("../images/payment/Visa/visa@3x.png");
        height: 12px;
        background-repeat: no-repeat;
        width: 32px;
        background-size: contain;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      &__masterCard {
        background-image: url("../images/payment/MasterCard/mastercard@3x.png");
        height: 20px;
        background-repeat: no-repeat;
        width: 32px;
        background-size: contain;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}