.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $font-main;
  border-bottom: 1px solid $color-light;
  box-shadow: 0 3px 8px $color-light;
  z-index: 1;
  position: relative;


  &-display {
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  &-hidden {
    height: 100px;
  }

  &__main {
    display: flex;
    align-items: center;
    margin-left: 30px;

    &__logo {
      margin-right: 25px;

      &:hover {
        cursor: pointer;
      }
    }


  }

  &__menu {
    display: flex;
    margin-right: 30px;

    @media (max-width: 1280px) {
      display: none;
    }

    &__switcher {
      padding-left: 20px;
      padding-right: 20px;
      align-self: center;

      @media (max-width: 1280px) {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 200px;
        margin: 0 auto;
      }

      &-private {
        border-right: 1px solid $color-medium;

        @media (max-width: 1280px) {
          padding-top: 60px;
          border-right: none;
          border-bottom: 1px solid $color-medium;
        }
      }

      &-business {
        color: $font-subscription;
        margin-bottom: 3px;
        padding-right: 60px;

        @media (max-width: 1280px) {
          padding-bottom: 60px;
          padding-right: 20px;
        }
      }
    }

    &__text {
      align-self: center;
      padding-left: 15px;
      padding-right: 15px;

      @media (max-width: 1280px) {
        padding-bottom: 30px;
      }
    }

    &__button {
      @include button;
      margin-left: 15px;

      @media (max-width: 1280px) {
        margin: 0 auto;
      }

      &:hover {
        background-color: $color-green-change;
      }
    }

    &-display {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $color-light;
      text-align: center;
      justify-content: center;
    }

    &-hidden {
      display: none;
    }
  }
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  z-index: 100;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(#000, 0.24);
  line-height: 0.6;
  text-align: center;

  > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle;

    &:before, &:after {
      display: inline-block;
      position: absolute;
      content: "";
      height: 2px;
      border-radius: 1px;
      background: #293335;
      transition: all 200ms;
    }
    &:before {
      top: -11px;
      left: 0px;
      width: 34px;
    }

    &:after {
      top: 11px;
      left: 0px;
      width: 34px;
    }
  }

  &:focus {outline: none}
}

.menu.active {
  .nav:before {
    visibility: visible;
    clip-path: circle(100%);
  }

  .nav-tgl > span {
    height: 0;
    &:after, &:before {
      top: 0px;
      left: 0;
      width: 34px;
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }
}
.active {
  position: fixed;
  z-index: 1;
  top: 15px;
  right: 0px;
}
.menu {
  margin-right: 20px;

  @media (min-width: 1281px) {
    display: none;
  }
}