.howDoWeWork {
  margin-bottom: 60px;

  @media (max-width: 1024px) {
    margin-bottom: 35px;
  }

  &__header {
    margin-top: 60px;
    text-align: center;
  }

  &__section {
    width: 900px;
    margin: 60px auto 0 auto;
    display: flex;

    @media (max-width: 1024px) {
      margin-bottom: 60px;
    }

    &-up {
      @media (max-width: 1024px) {
        flex-direction: column;
        width: auto;
      }
    }

    &-down {
      @media (max-width: 1024px) {
        flex-direction: column-reverse;
        width: auto;
      }
    }

    &__img {
      width: 399px;
      height: 241px;

      @media (max-width: 1024px) {
        width: 300px;
        height: auto;
        margin: 0 auto;
      }
    }

    &__text {
      @media (max-width: 1024px) {
        text-align: center;
      }

      &-right {
        margin-left: 40px;

        @media (max-width: 1024px) {
          margin-left: 0px;
        }
      }

      &-left {
        margin-right: 40px;

        @media (max-width: 1024px) {
          margin-right: 0px;
        }
      }

      &__header {
        padding-bottom: 10px;

        @media (max-width: 1024px) {
          padding-bottom: 30px;
          padding-top: 30px;
        }
      }

      &__subscription {
        line-height: 18px;
        color: $font-subscription;

        @media (max-width: 1024px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }

  &__pagination {
    top: unset;
    position: unset;
  }
}

//override properties for pagination buttons for swiper

#pagination__override {
  @media (max-width: 1024px) {
    margin-bottom: 10px;
  }
}

#button1__override,
#button2__override {
  @media (max-width: 1024px) {
    top: 95%;
  }
}

//additional class for hiding pagination

.remove-swiper-pagination {
  display: none;
}