@mixin button {
  background-color: $color-green-change;
  padding: 15px 35px;
  color: white;
  border-radius: 5px;
  font-size: initial;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}