.questions {
  margin: 180px auto 80px auto;
  color: $font-main;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;

  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__subscription {
    text-align: center;
    margin-bottom: 40px;
    color: $font-subscription;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 40px;

    &__text {
      padding: 10px 20px 10px 20px;
      background-color: $color-green;
      color: $color-extraLight;
      border: 1px solid $color-dark;
      border-radius: 100px;
      margin: 10px;

      &:hover {
        background-color: $color-green-change;
        cursor: pointer;
      }
    }
  }

  &__section {
    border: 1px solid $color-extraLight;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0px;
    }

    &__header {
      background-color: $color-extraLight;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid $color-extraLight;

      &__img {
        transition-duration: .8s;
        transition-property: transform;
        width: 20px;
        height: 20px;
      }
    }

    &__article {
      opacity: 1;
      height: auto;

      &-hide {
        transition: max-height .8s cubic-bezier(.01,.76,.07,.96);
        max-height: 0;
        overflow: hidden;
      }

      &__text {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}