.situation {
  background: $gradient;

  &__header {
    margin-top: 60px;
    text-align: center;
  }

  &__nav {
    margin: 45px auto 0;
    width: 800px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      overflow-x: scroll;
      width: 900px;
      white-space: nowrap;
      overflow-y: hidden;
      margin-left: 300px;
    }

    @media (max-width: 768px) {
      margin-left: 200px;
    }

    @media (max-width: 550px) {
      margin-left: 100px;
    }

    &__roll {
      text-transform: uppercase;
      padding-bottom: 20px;
      font-size: 1.4rem;
      color: $font-subscription;

      &:hover {
        cursor: pointer;
      }

      &-active {
        border-bottom: 3px solid $color-green;
      }
    }
  }

  &__card {
    width: 800px;
    display: flex;
    margin: 70px auto 0;
    padding-bottom: 70px;
    min-height: 250px;

    @media (max-width: 1024px) {
      width: unset;
      display: flex;
      flex-direction: column;
    }

    &__img {
      height: 120px;
      width: 120px;

      @media (max-width: 1024px) {
        display: flex;
        margin: 0 auto 40px auto;
      }
    }

    &__text {
      padding-left: 60px;

      @media (max-width: 1024px) {
        padding-right: 60px;
        text-align: center;
      }

      &__header {
        line-height: 2.5rem;
      }

      &__tags {
        margin-top: 20px;
        list-style-type: none;

        &-item {
          display: inline;
          margin-right: 20px;
          font-size: 12px;
          color: $font-subscription;
        }
      }
    }
  }

  &__hide {
    display: none;
  }
}