.situation {
  background: $gradient;

  &__header {
    margin-top: 60px;
    text-align: center;
  }

  &__nav {
    margin: 45px auto 0;
    width: 800px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;


    &__swipe {
      text-transform: uppercase;
      padding-bottom: 20px;
      font-size: 1.4rem;
      color: $font-subscription;

      &:hover {
        cursor: pointer;
      }

      &-active {
        border-bottom: 3px solid $color-green;
      }
    }
  }

  &__card {
    width: 800px;
    display: flex;
    margin: 70px auto 0;
    padding-bottom: 70px;

    &__img {
      height: 130px;
      width: 130px;
    }

    &__text {
      padding-left: 60px;

      &__header {
        line-height: 2.5rem;
      }

      &__tags {
        margin-top: 20px;
        list-style-type: none;

        &-item {
          display: inline;
          margin-right: 20px;
          font-size: 12px;
          color: $font-subscription;
        }
      }
    }
  }

  &__hide {
    display: none;
  }
}