.trustUs {
  background-color: $color-extraLight;
  padding-bottom: 60px;

  @media (max-width: 1024px) {
    padding-bottom: 120px;
  }

  &__header {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 60px;

    @media (max-width: 1024px) {
      margin-bottom: 30px;
      padding-top: 30px;
    }
  }

  &__container {
    width: 1000px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      width: auto;
      display: flex;
      flex-direction: column;
    }

    &__img {
      height: 70px;
      width: auto;
      margin-right: 30px;

      @media (max-width: 1024px) {
        height: auto;
        margin: 20px auto 0 auto;
        width: 30%;
      }
    }
  }
}