$button-green-change:  #76BD01;
$button-green: rgb(124, 186, 48);

$font-main: rgb(0, 0, 0);
$font-subscription: rgb(96, 100, 116);

$gradient: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(255,255,255,1) 100%);

$color-medium: rgb(167, 177, 183);
$color-dark: rgb(146, 147, 145);
$color-light: rgb(221, 221, 221);